.jobs-dashboard-container{

    display: flex;
    flex-direction: row;
    margin-inline: 8rem;

}
.jobs-dashboard-main-container{

    margin-left: 2rem;

}

.jobs-dashboard-main-container h5{

    font-weight: 500;
    font-size: 20px;
    margin-bottom:0 ;

}

#jobs-dashboard-main-container-paragraph{

    font-size: 16px;
    color: rgb(126, 126, 126);
    margin-top: 0;

}

.jobs-dashboard p{

  font-weight: 600;
  margin-bottom: 1rem;

}

.jobs-dashboard-main-container-jobs-counter{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    padding: 1rem;
    padding-inline: 1rem;
    background-color:  #d7eaff;
    border-radius: 5px;
    border: none;
    margin-top:1rem;
    width: 20rem;
    margin-bottom: 2re;

}

.jobs-dashboard-counter-container p{

    margin: 0;
    color: rgb(126, 126, 126);
    font-weight: 600;

}

.jobs-dashboard-counter-container h4{

    margin: 0;
    font-size: 20px;

}



.jobs-dashboard-main-container-jobs-counter-bag i{
    
    font-size: 30px;
    color: #007bff;

}

.job-table-wrapper {
  width: 100%;
  overflow-x: auto; 
  
}

.job-table-wrapper p{

  margin-bottom: 1rem;
  font-weight: 600;

}

.job-table {
  width: 60rem;  
  border-collapse: collapse;
}

.job-table th, 
.job-table td {
  padding: 12px 15px;
  text-align: left;
  white-space: nowrap; 
}

tr{

  border-radius: 10px;

}

.job-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.job-table h3 {
  margin: 0;
  font-size: 16px;
}

.job-table p {
  margin: 3px 0;
}


@media (max-width: 768px) {
  .job-table th, 
  .job-table td {
    padding: 8px 10px;
  }

  .job-table h3 {
    font-size: 14px;
  }

  .job-table p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .job-table th, 
  .job-table td {
    padding: 6px 8px;
  }

  .job-table h3 {
    font-size: 13px;
  }

  .job-table p {
    font-size: 12px;
  }
}

