.jobs-dashboard-nav-main-container{

    border-bottom: 1px rgb(149, 149, 149) solid;

}
.jobs-dashboard-nav-container{

    margin-inline: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.jobs-dashboard-nav-container-logo{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.jobs-dashboard-nav-container-logo button{

    width: 10rem;
    border: 2px  #0a65cc solid;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;

}

.jobs-dashboard-nav-container-logo img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;   
    border-radius: 50%;  
    cursor: pointer;
}

@media(max-width: 900px){

    .jobs-dashboard-nav-container-logo button{

        display: none;

    }

}